<!DOCTYPE html>
<html>
    <head>
        <meta charset= "UTF-8">
        <meta keywords= "portfolio, resume, fun_facts">
        <meta name="discription" content= "Olyana's portfolio-website">
        <meta name="author" content="Olyana Mushe">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Olyana's Portfolio</title>
        <link rel="stylesheet" href="../public/css_styling.css">

        <link rel="shortcut icon" href="/favicon.png" type="image/png" />

        <script src="https://kit.fontawesome.com/27373de14f.js" crossorigin="anonymous"></script>"
    </head>

    <body>
        <header> 
            <nav class="nav_bar">
                <a href="/">Home Page</a>
                <a href="../my_resume">Resume</a>
                <a href="../my_fun_facts">Fun Facts</a>
                <a href="../trivia">Trivia</a>
            </nav>

            <h1>Welcome to Olyana's Portfolio</h1>

            <img class="me" src="../public/IMG_2546.jpeg" alt="Picture of Olyana" width="300" height="400"> 

                    <blockquote cite="https://www.quoteambition.com/quotes-live/">
                        “Often what may appear as a detour in life is actually the most direct and empowering path to your destination"
                        <br>– James Aurthur Ray 
                    </blockquote>
        </header>

        <section>

        </section>

        <section class="about_me">
            <h2>A little about me...</h2>
            <p> My name is Olyana Mushe, I am twenty-one years old and I was born in Iraq. My family and I moved to the United States
                University and I am majoring in IT. If you would like to get to know more about me check out Page2 and Page3. 
            </p>

            <p>
                <label class="tranform" for="credits"> <h3>Degree Credit Progress</h1></label>
                <progress id="credits" max="128" value="97"> 66% </progress></label>
            </p>
            
        </section>

        <footer>
            <a href="mailto:olyanamushe@oakland.edu">
                <i class="fas fa-envelope-open"></i>
            </a>
            <a href="http://www.instagram.com/olyanam00">
                <i class="fab fa-instagram"></i></a>
            &copy; 2021, Olyana Mushe <br>
        </footer>

    </body>

</html>