<!DOCTYPE html>
<html>
    <head>
        <meta charset= "UTF-8">
        <meta keywords= "portfolio, resume, fun_facts">
        <meta name="discription" content= "Olyana's portfolio-website">
        <meta name="author" content="Olyana Mushe">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Olyana's Portfolio</title>
        <link rel="shortcut icon" href="/favicon.png" type="image/png" />
        <link rel="stylesheet" href="../public/css_styling.css">

        <script src="https://kit.fontawesome.com/27373de14f.js" crossorigin="anonymous"></script>"
    </head>

    <body>
        <header>
            <nav class="nav_bar">
                <a href="/">Home Page</a>
                <a href="./my_resume">Resume</a>
                <a href="./my_fun_facts">Fun Facts</a>
                <a href="./trivia">Trivia</a>
            </nav>
            <h1>Some fun facts about me</h1>
        </header>

        <section class="fun_facts">
            <h2>Favorite Book: Blue Warrior</h2>
            <img src="../public/favoritebook.jpg" alt="Picture of favorite book" width="250" height="300">
            <br>This book was full of emotion and I enjoyed reading about how the main character 
            <br>developed and grew throughout the book. 
            <br><a href="https://www.amazon.com/Warrior-Blue-Kelsey-Kingsley-ebook/dp/B083L93R23/ref=sr_1_2?dchild=1&keywords=blue+warrior&qid=1633547689&s=books&sr=1-2">
            Purchase</a>
        </section>

        <section class="fun_facts">
            <h2>Favorite Song: Lorde-Buzzcut Season</h2>
            <audio src="../public/Lorde - Buzzcut Season.mp3" controls></audio>
            <br><a href="https://www.youtube.com/watch?v=pstVCGyaUBM">Listen</a>
        </section>
    
        <section class="fun_facts">
            <h2>Favorite Tv Show: Money Heist</h2>
            <iframe
            src="https://www.youtube.com/embed/hMANIarjT50" width="350" height="300" title="Money Heist_Youtube" frameborder="0" allowfullscreen></iframe>
            </iframe>
        </section>

        <footer>
            <a href="mailto:olyanamushe@oakland.edu">
                <i class="fas fa-envelope-open"></i>
            </a>
            <a href="http://www.instagram.com/olyanam00">
                <i class="fab fa-instagram"></i></a>
            &copy; 2021, Olyana Mushe <br>
        </footer>
      

    </body>
</html>